## Settings file was created by plugin PlantEverything v1.2.2
## Plugin GUID: advize.PlantEverything

[Berries]

## Number of raspberries required to place a raspberry bush
# Setting type: Int32
# Default value: 5
RaspberryCost = 5

## Number of blueberries required to place a blueberry bush
# Setting type: Int32
# Default value: 5
BlueberryCost = 5

## Number of cloudberries required to place a cloudberry bush
# Setting type: Int32
# Default value: 5
CloudberryCost = 5

## Number of minutes it takes for a raspberry bush to respawn berries
# Setting type: Int32
# Default value: 300
RaspberryRespawnTime = 300

## Number of minutes it takes for a blueberry bush to respawn berries
# Setting type: Int32
# Default value: 300
BlueberryRespawnTime = 300

## Number of minutes it takes for a cloudberry bush to respawn berries
# Setting type: Int32
# Default value: 300
CloudberryRespawnTime = 300

## Number of berries a raspberry bush will spawn
# Setting type: Int32
# Default value: 1
RaspberryReturn = 1

## Number of berries a blueberry bush will spawn
# Setting type: Int32
# Default value: 1
BlueberryReturn = 1

## Number of berries a cloudberry bush will spawn
# Setting type: Int32
# Default value: 1
CloudberryReturn = 1

[Difficulty]

## Pickable resources can only be planted on cultivated ground
# Setting type: Boolean
# Default value: false
RequireCultivation = true

## Allow resources to be placed anywhere. This will only apply to bushes and trees
# Setting type: Boolean
# Default value: false
PlaceAnywhere = false

## Restrict modded plantables to being placed in their respective biome
# Setting type: Boolean
# Default value: false
EnforceBiomes = false

## Restrict vanilla plantables to being placed in their respective biome
# Setting type: Boolean
# Default value: true
EnforceBiomesVanilla = true

[Flowers]

## Number of thistle required to place a pickable thistle spawner
# Setting type: Int32
# Default value: 5
ThistleCost = 5

## Number of dandelion required to place a pickable dandelion spawner
# Setting type: Int32
# Default value: 5
DandelionCost = 5

## Number of minutes it takes for thistle to respawn
# Setting type: Int32
# Default value: 240
ThistleRespawnTime = 240

## Number of minutes it takes for dandelion to respawn
# Setting type: Int32
# Default value: 240
DandelionRespawnTime = 240

## Number of thistle a pickable thistle spawner will spawn
# Setting type: Int32
# Default value: 1
ThistleReturn = 1

## Number of dandelion a pickable dandelion spawner will spawn
# Setting type: Int32
# Default value: 1
DandelionReturn = 1

[General]

## Nexus mod ID for updates.
# Setting type: Int32
# Default value: 1042
NexusID = 1042

## Enable mod debug messages in console
# Setting type: Boolean
# Default value: false
EnableDebugMessages = false

## Use berry icons in the cultivator menu rather than the default ones
# Setting type: Boolean
# Default value: false
AlternateIcons = false

## Enable this to attempt to load localized text data for the language set in the following setting
# Setting type: Boolean
# Default value: false
EnableLocalization = false

## Language to be used. If EnableLocalization is enabled, game will attempt to load localized text from a file named {language}_PlantEverything.json
# Setting type: String
# Default value: english
Language = english

[Mushrooms]

## Number of mushrooms required to place a pickable mushroom spawner
# Setting type: Int32
# Default value: 5
MushroomCost = 5

## Number of yellow mushrooms required to place a pickable yellow mushroom spawner
# Setting type: Int32
# Default value: 5
YellowMushroomCost = 5

## Number of blue mushrooms required to place a pickable blue mushroom spawner
# Setting type: Int32
# Default value: 5
BlueMushroomCost = 5

## Number of minutes it takes for mushrooms to respawn
# Setting type: Int32
# Default value: 240
MushroomRespawnTime = 240

## Number of minutes it takes for yellow mushrooms to respawn
# Setting type: Int32
# Default value: 240
YellowMushroomRespawnTime = 240

## Number of minutes it takes for blue mushrooms to respawn
# Setting type: Int32
# Default value: 240
BlueMushroomRespawnTime = 240

## Number of mushrooms a pickable mushroom spawner will spawn
# Setting type: Int32
# Default value: 1
MushroomReturn = 1

## Number of yellow mushrooms a pickable yellow mushroom spawner will spawn
# Setting type: Int32
# Default value: 1
YellowMushroomReturn = 1

## Number of blue mushrooms a pickable blue mushroom spawner will spawn
# Setting type: Int32
# Default value: 1
BlueMushroomReturn = 1

[Saplings]

## Number of birch cones required to place a birch sapling
# Setting type: Int32
# Default value: 1
BirchCost = 1

## Number of oak seeds required to place an oak sapling
# Setting type: Int32
# Default value: 1
OakCost = 1

## Number of ancient seeds required to place an ancient sapling
# Setting type: Int32
# Default value: 1
AncientCost = 1

## The minimum scaling factor used to scale a birch tree upon growth
# Setting type: Single
# Default value: 0.5
BirchMinScale = 0.5

## The maximum scaling factor used to scale a birch tree upon growth
# Setting type: Single
# Default value: 2
BirchMaxScale = 2

## The minimum scaling factor used to scale an oak tree upon growth
# Setting type: Single
# Default value: 0.5
OakMinScale = 0.5

## The maximum scaling factor used to scale an oak tree upon growth
# Setting type: Single
# Default value: 2
OakMaxScale = 2

## The minimum scaling factor used to scale an ancient tree upon growth
# Setting type: Single
# Default value: 0.5
AncientMinScale = 0.5

## The maximum scaling factor used to scale an ancient tree upon growth
# Setting type: Single
# Default value: 2
AncientMaxScale = 2

## Number of seconds it takes for a birch tree to grow from a birch sapling (will take at least 10 seconds after planting to grow)
# Setting type: Single
# Default value: 3000
BirchGrowthTime = 3000

## Number of seconds it takes for an oak tree to grow from an oak sapling (will take at least 10 seconds after planting to grow)
# Setting type: Single
# Default value: 3000
OakGrowthTime = 3000

## Number of seconds it takes for an ancient tree to grow from an ancient sapling (will take at least 10 seconds after planting to grow)
# Setting type: Single
# Default value: 3000
AncientGrowthTime = 3000

