## Settings file was created by plugin AddAllFuel v1.2.1
## Plugin GUID: rin_jugatla.AddAllFuel

[General]

## Enable this mod
# Setting type: Boolean
# Default value: true
Enabled = true

## Nexus mod ID for updates
# Setting type: Int32
# Default value: 107
NexusID = 107

## Modifier keys for using mods
# Setting type: String
# Default value: left shift
ModifierKey = left shift

## false: Batch submit with ModifierKey + UseKey. true: Batch submit with UseKey.
# Setting type: Boolean
# Default value: false
IsReverseModifierMode = false

